body{
    background-color: #78ffd6;
}

* {
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #0ad3ff;
  font-family: Consolas, Monaco, monospace;
  text-align: center;
}

.card-text {
  font-size: 18px;
  color: #28262c;
  font-family: Consolas, Monaco, monospace;
  text-align: center;
}

.card-text-ending {
  font-size: 16px;
  color: #28262c;
  font-family: Consolas, Monaco, monospace;
  text-align: center;
}

.card-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 10px;
}

.name-text {
  font-size: 16px;
  color: #28262c;
  font-family: Consolas, Monaco, monospace;
  text-align: center;
}